.header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap:30px;
}
.footer{
    text-align: center;
    padding: 50px;
    background:#D9D9D9;
    margin-top: 40px;
    font-size: 24px;
}
.header>*{
    width: 200px;
    height: 60px;
    border-radius: 8px;
    background: #E2E2E2;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header>.menu{
width: 820px;
height: 34px;
border-radius: 8px;

}
.header>.button{
    width: 120px;
height: 42px;
border-radius: 8px;
}
.section1{
    background-color: #F1F1F1; 
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 30px;
 padding: 50px;
}
.content{
    width: 585px;
height: 267px;
border-radius: 8px;
background: #E2E2E2;
display: flex;
align-items: center;
justify-content: center;
}
.image{
    width: 585px;
height: 520px;
border-radius: 8px;
background: #E2E2E2;
display: flex;
align-items: center;
justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
height: 80px;
border-radius: 8px;
background: #E2E2E2;
}

.section2{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    gap: 50px;
    flex-direction: column;
    width:
}
.large-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width:calc((100%-200px)/6);
}
    
.section3{
    background:#F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding:50px;
    gap:50px;

}

.section4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:30px;
    padding:50px;
}

.item{
    width: 380px;
    height: 420px;
    border-radius: 8px;
    background: #E2E2E2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-item{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:50px;
}
.small-item div{
width: 216px;
height: 300px;
border-radius: 8px;
}

.medium-item{
    display:flex;
    justify-content: center;
    align-content: center;
    gap:50px;
}
.medium-item div{
    width: 277.5px;
height: 300px;
border-radius: 8px;

}
.large-item div{
height: 420px;
border-radius: 8px;
}
